*.env
arnaud-preprocessing.ipynb
arnaud.py
projections/events.out.tfevents.1705869196.Alexandres-MacBook-Pro.local
projections/events.out.tfevents.1705869251.Alexandres-MacBook-Pro.local
projections/events.out.tfevents.1705869761.Alexandres-MacBook-Pro.local
projections/word2vec.ckpt-345.data-00000-of-00001
projections/word2vec.ckpt-345.index
projections/word2vec.ckpt-345.meta
projections/glove/checkpoint
projections/glove/events.out.tfevents.1705874560.Alexandres-MacBook-Pro.local
projections/glove/events.out.tfevents.1705876625.Alexandres-MacBook-Pro.local
projections/glove/events.out.tfevents.1705879922.Alexandres-MacBook-Pro.local
projections/glove/events.out.tfevents.1705880881.Alexandres-MacBook-Pro.local
projections/glove/glove.ckpt-1193514.data-00000-of-00001
projections/glove/glove.ckpt-1193514.index
projections/glove/glove.ckpt-1193514.meta
projections/glove/metadata.tsv
projections/glove/projector_config.pbtxt
projections/tfidf/checkpoint
projections/tfidf/events.out.tfevents.1705871641.Alexandres-MacBook-Pro.local
projections/tfidf/events.out.tfevents.1705873989.Alexandres-MacBook-Pro.local
projections/tfidf/events.out.tfevents.1705874672.Alexandres-MacBook-Pro.local
projections/tfidf/events.out.tfevents.1705876565.Alexandres-MacBook-Pro.local
projections/tfidf/events.out.tfevents.1705877854.Alexandres-MacBook-Pro.local
projections/tfidf/events.out.tfevents.1705879645.Alexandres-MacBook-Pro.local
projections/tfidf/events.out.tfevents.1705880846.Alexandres-MacBook-Pro.local
projections/tfidf/metadata.tsv
projections/tfidf/projector_config.pbtxt
projections/tfidf/tfidf.ckpt.data-00000-of-00001
projections/tfidf/tfidf.ckpt.index
projections/tfidf/tfidf.ckpt.meta
projections/word2vec/checkpoint
projections/word2vec/events.out.tfevents.1705870380.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705871639.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705873988.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705874164.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705874652.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705876546.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705877852.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705879644.Alexandres-MacBook-Pro.local
projections/word2vec/events.out.tfevents.1705880845.Alexandres-MacBook-Pro.local
projections/word2vec/metadata.tsv
projections/word2vec/projector_config.pbtxt
projections/word2vec/word2vec.ckpt-338.data-00000-of-00001
projections/word2vec/word2vec.ckpt-338.index
projections/word2vec/word2vec.ckpt-338.meta
projections/word2vec/word2vec.ckpt-343.data-00000-of-00001
projections/word2vec/word2vec.ckpt-343.index
projections/word2vec/word2vec.ckpt-343.meta
projections/word2vec/word2vec.ckpt-345.data-00000-of-00001
projections/word2vec/word2vec.ckpt-345.index
projections/word2vec/word2vec.ckpt-345.meta
projections/word2vec/word2vec.ckpt-353.data-00000-of-00001
projections/word2vec/word2vec.ckpt-353.index
projections/word2vec/word2vec.ckpt-353.meta
projections/word2vec/word2vec.ckpt-360.data-00000-of-00001
projections/word2vec/word2vec.ckpt-360.index
projections/word2vec/word2vec.ckpt-360.meta
projections/word2vec/word2vec.ckpt-366.data-00000-of-00001
projections/word2vec/word2vec.ckpt-366.index
projections/word2vec/word2vec.ckpt-366.meta
projections/word2vec/word2vec.ckpt-1193513.data-00000-of-00001
projections/word2vec/word2vec.ckpt-1193513.index
projections/word2vec/word2vec.ckpt-1193513.meta
runs/checkpoint
runs/embedding.ckpt-1.data-00000-of-00001
runs/embedding.ckpt-1.index
runs/metadata.tsv
runs/projector_config.pbtxt
runs/word_embeddings_visualization/events.out.tfevents.1705358192.Alexandres-MacBook-Pro.local.94007.2
runs/word_embeddings_visualization/events.out.tfevents.1705358309.Alexandres-MacBook-Pro.local.94370.0
runs/word_embeddings_visualization/projector_config.pbtxt
runs/word_embeddings_visualization/00000/default/metadata.tsv
runs/word_embeddings_visualization/00000/default/tensors.tsv
runs/checkpoint
runs/embedding.ckpt-1.data-00000-of-00001
runs/embedding.ckpt-1.index
runs/metadata.tsv
runs/projector_config.pbtxt
runs/word_embeddings_visualization/events.out.tfevents.1705358192.Alexandres-MacBook-Pro.local.94007.2
runs/word_embeddings_visualization/events.out.tfevents.1705358309.Alexandres-MacBook-Pro.local.94370.0
runs/word_embeddings_visualization/projector_config.pbtxt
runs/word_embeddings_visualization/00000/default/metadata.tsv
runs/word_embeddings_visualization/00000/default/tensors.tsv
